ul {
  list-style-type: none;
  display: flex;
  gap: 27px;
  align-items: center;
}

* {
  margin: 0 !important;
  padding: 0 !important;
}

.button {
  padding: 8px !important;
  width: 120px;
}

/* .nav {
  margin-left: 80px !important;
  margin-right: 80px !important;
} */


.nav {
  margin: auto !important;
}

.image {
  background-image: url(./Assets/hero.jpg);
  height: 750px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.AWSOME {
  padding-top: 11% !important;
}

.lorem {
  padding-top: 1% !important;
}

.play {
  padding-top: 2% !important;
}

.pic {
  margin: auto !important;
}

.footer {
  margin: auto !important;
  margin-top: 130px !important;
}

.row {
  margin-top: 80px !important;
}

.list li::before {
  content: "\2022";
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 2em;
  font-size: 20px;
}